<%= render "shared/header" %>
  <div class="main">
    <div class="user-show">
      <div class="show-main wf-roundedmplus1c">
        <div class="show-title">
          <%= "#{@user.nickname}さんの詳細画面"%>
        </div>
        
          <div class="avater-area">
            <% if @user.image? %>
              <%= image_tag @user.image.url, class: "icon-size" %>
          <% else %>
              <%= image_tag "/assets/user.png", class: "icon-size" %>
          <% end %>
          
        </div>
      <table class="detail-table">
        <tbody>
          <tr>
            <th class="detail-user">ユーザー名</th>
            <td class="detail-value"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="detail-user">プロフィール</th>
            <td class="detail-value"><%= @user.profile %></td>
          </tr>
        </tbody>
      </table>
      <div class="follow-btn">
        <%= link_to "フォロー: #{@user.followings.count}", followings_user_path(@user.id) %>
        <%= "/" %>
        <%= link_to "フォロワー: #{@user.followers.count}", followers_user_path(@user.id) %>
      </div>
        <% if user_signed_in? %>
            <% if current_user.id == @user.id %>
              <div class="edit-btn">
                <%= link_to "ユーザー編集", edit_user_registration_path, method: :get %>
              </div>
            <% end %>
          <%= render 'relationships/follow_form', user: @user %>
        <% end %>
      </div>
    </div>
  </div>