<div class="header-bar">
  <%= render "shared/header" %>
</div>

<div class="main wf-roundedmplus1c">
  <% if user_signed_in? %>
    <div class="btn-list">
      <div class="chat-btn">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </div>
  <% else %>
      <div class="login-btn">
        <%= link_to "ログイン", new_user_session_path %>
        <%= link_to "新規登録", new_user_registration_path %>
      </div>
    </div>
  <% end %>

  <div class="title">
    <h1>NageTomo</h1>
  </div>
  
    <div class="favorite-title">
      <h1>☆お気に入りの投げ友</h1>
    </div>
      <div class="list">
      <ul>
        <div class="friend-list">
          <%= image_tag 'user.png',size: '30x30', class: "user-img" %>
          <li class="user-name">山田</li>
        </div>
        <div class="friend-list">
          <%= image_tag 'user.png',size: '30x30', class: "user-img" %>
          <li class="user-name">佐藤</li>
        </div>
        <div class="friend-list">
          <%= image_tag 'user.png',size: '30x30', class: "user-img" %>
          <li class="user-name">田中</li>
        </div>
      </ul>
      </div>
      <div class="rooms">
        <h1>ルーム</h1>
      </div>
        <div class="list">
          <ul>
            <li class="room-name">ルーム１</li>
            <li class="room-name">ルーム２</li>
            <li class="room-name">ルーム３</li>
          </ul>
        </div>
</div>

